.container {
  max-width: 1172px;
  margin: 0 auto; }

.text {
  font-size: 14px;
  line-height: 24px; }

.line {
  width: 35px;
  height: 5px;
  background-color: #f16522; }

.title {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase; }

.subtitle {
  font-size: 16px; }

.btn {
  text-transform: uppercase;
  background-color: #3d3d3d;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer; }

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.name, .more, .footer-title {
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.heading {
  font-size: 16px;
  font-weight: 700; }

.avtor {
  font-size: 14px; }

.link {
  font-size: 14px;
  text-decoration: none;
  color: #f16522;
  -webkit-transition: ease-in .2s;
  -o-transition: ease-in .2s;
  transition: ease-in .2s; }
  .link:hover {
    -webkit-transition: ease-in .2s;
    -o-transition: ease-in .2s;
    transition: ease-in .2s;
    text-decoration: underline;
    color: #3d3d3d; }

.more {
  border: none;
  background-color: #ffffff;
  cursor: pointer; }

.item {
  font-size: 12px; }

.welcome {
  background: url(/images/welcome/Slice_1.png) no-repeat center;
  background-size: cover; }

.header {
  margin-bottom: 270px;
  padding-top: 27px; }

.header__menu {
  width: 462px; }

.heade__logo {
  width: 46px;
  height: 46px; }

.header__link {
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff; }
  .header__link:hover {
    -webkit-transition: ease-in .3s;
    -o-transition: ease-in .3s;
    transition: ease-in .3s;
    color: #f16522; }

.welcome__main {
  margin-bottom: 200px; }

.welcome__title {
  display: block;
  margin-bottom: 10px;
  font-size: 90px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff; }

.welcome__subtitle {
  font-size: 54px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff; }

.welcome__line {
  width: 74px;
  height: 6px;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #ffffff;
  border-radius: 3px; }

.welcome__text {
  max-width: 550px;
  height: 133px;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff; }

.welcome__scroll-down {
  display: block;
  margin: 0 auto;
  padding-bottom: 35px;
  cursor: pointer; }

.services {
  margin-top: 110px;
  border-top: 1px solid #e7eaed; }

.services__bl {
  border-bottom: 1px solid #e7eaed; }

.services__info {
  width: 585px;
  padding-top: 72px;
  padding-bottom: 179px;
  border-right: 1px solid #e7eaed; }

.services__subtitle_fs-30 {
  font-size: 30px; }

.services__line {
  margin-top: 20px;
  margin-bottom: 30px; }

.services__text {
  max-width: 482px;
  margin-bottom: 48px;
  line-height: 30px; }

.services__btn {
  width: 213px;
  height: 55px; }

.services__block {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 600px;
  padding-top: 0; }

.services-item,
.services-item-3,
.services-item-4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 295px;
  padding-top: 104px;
  padding-bottom: 66px;
  border-right: 1px solid #e7eaed;
  border-bottom: 1px solid #e7eaed; }

.services-item-3,
.services-item-4 {
  border-bottom: none; }

.services__img {
  height: 64px;
  margin-bottom: 45px; }

.blog {
  padding-top: 105px;
  padding-bottom: 108px; }

.blog__block {
  margin-bottom: 87px; }

.blog__title {
  text-align: center;
  margin-bottom: 30px; }

.blog__title_fs-40 {
  font-size: 40px; }

.blog__line {
  margin: 0 auto 30px; }

.blog__subtitle {
  display: block;
  text-align: center;
  max-width: 478px;
  margin: 0 auto 55px;
  line-height: 30px; }

.post__img {
  margin-bottom: 25px; }

.post__text {
  max-width: 357px; }

.post__heading {
  margin-bottom: 14px; }

.post__avtor {
  display: block;
  margin-bottom: 23px; }

.post__line {
  margin-bottom: 23px; }

.post__text {
  margin-bottom: 20px; }

.blog__more {
  display: block;
  margin: 0 auto; }
  .blog__more:hover {
    -webkit-transition: ease-in .2s;
    -o-transition: ease-in .2s;
    transition: ease-in .2s;
    color: #f16522; }

.plus {
  margin-right: 8px; }

.footer {
  padding: 55px 0 70px 0;
  background-color: #e7eaed; }

.footer__block {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.footer-copyright__title {
  margin-bottom: 21px; }

.footer-copyright__title_fs-24 {
  font-size: 24px; }

.footer__rights {
  margin-bottom: 20px; }

.footer-title {
  margin-top: 10px;
  margin-bottom: 20px; }

.footer-item {
  margin-bottom: 15px; }
  .footer-item:last-child {
    margin-bottom: 0; }

.footer__form {
  position: relative; }

.email {
  width: 275px;
  height: 45px;
  padding: 0 0 0 10px;
  font-size: 13px;
  border: none;
  background-color: #ffffff;
  color: #3d3d3d;
  opacity: 0.3;
  border-radius: 5px; }

.email-img {
  position: absolute;
  left: 85%;
  bottom: 25%;
  cursor: pointer; }
