.blog{
    padding-top: 105px;
    padding-bottom: 108px;
}
.blog__block{
    margin-bottom: 87px;
}
.blog__title{
    text-align: center;
    margin-bottom: 30px;
}
.blog__title_fs-40{
    font-size: 40px;
}
.blog__line{
    margin: 0 auto 30px;
}
.blog__subtitle{
    display: block;
    text-align: center;
    max-width: 478px;
    margin: 0 auto 55px;
    line-height: 30px;
}
.post__img{
    margin-bottom: 25px;
}
.post__text{
    max-width: 357px;
}
.post__heading{
    margin-bottom: 14px;
}
.post__avtor{
    display: block;
    margin-bottom: 23px;
}
.post__line{
    margin-bottom: 23px;
}
.post__text{
    margin-bottom: 20px;
}
.blog__more{
    display: block;
    margin: 0 auto;

    &:hover{
        transition: ease-in .2s;
        color: #f16522;
    }
}
.plus{
    margin-right: 8px;
}