.container{
    max-width: 1172px;
    margin: 0 auto;
}

.text{
    font-size: 14px;
    line-height: 24px;
}

.line{
    width: 35px;
    height: 5px;
    background-color: #f16522;
}

.title{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}

.subtitle{
    font-size: 16px;
}

.btn{
    text-transform: uppercase;
    background-color: #3d3d3d;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name,.more,.footer-title{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.heading{
    font-size: 16px;
    font-weight: 700;
}
.avtor{
    font-size: 14px;
}
.link{
    font-size: 14px;
    text-decoration: none;
    color: #f16522;
    transition: ease-in .2s;

    &:hover{
        transition: ease-in .2s;
        text-decoration: underline;
        color: #3d3d3d;
    }
}
.more{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
.item{
    font-size: 12px;
}
