.footer{
    padding: 55px 0 70px 0;
    background-color: #e7eaed;
}
.footer__block{
    align-items: flex-start;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
}
.footer-copyright__title{
    margin-bottom: 21px;
}
.footer-copyright__title_fs-24{
    font-size: 24px;
}
.footer__rights{
    margin-bottom: 20px;
}
.footer-title{
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-item{
    margin-bottom: 15px;

    &:last-child{
        margin-bottom: 0;
    }
}
.footer__form{
    position: relative;
}
.email{
    width: 275px;
    height: 45px;
    padding: 0 0 0 10px;
    font-size: 13px;
    border: none;
    background-color: #ffffff;
    color: #3d3d3d;
    opacity: 0.3;
    border-radius: 5px;
}
.email-img{
    position: absolute;
    left: 85%;
    bottom: 25%;
    cursor: pointer;
}