.services{
    margin-top: 110px;
    border-top: 1px solid #e7eaed;
}
.services__bl{
    border-bottom: 1px solid #e7eaed;
}
.services__info{
    width: 585px;
    padding-top: 72px;
    padding-bottom: 179px;
    border-right: 1px solid #e7eaed;
}
.services__subtitle_fs-30{
    font-size: 30px;
}
.services__line{
    margin-top: 20px;
    margin-bottom: 30px;
}
.services__text{
    max-width: 482px;
    margin-bottom: 48px;
    line-height: 30px;
}
.services__btn{
    width: 213px;
    height: 55px;
}
.services__block{
    flex-wrap: wrap;
    max-width: 600px;
    padding-top: 0;
}
.services-item,
.services-item-3,
.services-item-4{
    flex-direction: column;
    width: 295px;
    padding-top: 104px;
    padding-bottom: 66px;
    border-right: 1px solid #e7eaed;
    border-bottom: 1px solid #e7eaed;
}
.services-item-3,
.services-item-4{
    border-bottom: none;
}
.services__img{
    height: 64px;
    margin-bottom: 45px;
}
