.welcome{
  background: url(/images/welcome/Slice_1.png) no-repeat center;
  background-size: cover;
}

.header{
    margin-bottom: 270px;
    padding-top: 27px;
}

.header__menu{
    width: 462px;
}

.heade__logo{
    width: 46px;
    height: 46px;
}

.header__link{
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

    &:hover{
        transition: ease-in .3s;
        color: #f16522;
    }
}

.welcome__main{
    margin-bottom: 200px;
}

.welcome__title{
    display: block;
    margin-bottom: 10px;
    font-size: 90px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    
}

.welcome__subtitle{
    font-size: 54px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.welcome__line{
    width: 74px;
    height: 6px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 3px;
}

.welcome__text{
    max-width: 550px;
    height: 133px;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
}

.welcome__scroll-down{
    display: block;
    margin: 0 auto;
    padding-bottom: 35px;
    cursor: pointer;
}

  